[package]

# Project metadata
name = "solana_rbpf"
version = "0.1.1"
authors = ["Solana Maintainers <maintainers@solana.com>"]

# Additional metadata for packaging
description = "Virtual machine and JIT compiler for eBPF programs"
repository = "https://github.com/solana-labs/rbpf"
readme = "README.md"
keywords = ["BPF", "eBPF", "interpreter", "JIT", "filtering"]
license = "Apache-2.0/MIT"

# Packaging directives
include = [
    "src/**",
    "examples/**",
    "tests/**",
    "bench/**",
    "LICENSE*",
    "Cargo.toml",
]

[dependencies]

combine = "2.5"
libc = "0.2"
time = "0.1"
byteorder = "1.2"

[dev-dependencies]

elf = "0.0.10"
json = "0.11"
